$def with (scanners, cpu_count, AV_SPEED)
<html>
<head>
<link href="/static/multiav.css" rel="stylesheet" type="text/css">
<link href="/static/dropzone.css" rel="stylesheet" type="text/css">
<script src="/static/dropzone.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-container">
        <div class="branding">
            <span>MultiAV</span>      
        </div>
        <div class="navigation"> 
            <ul>
            <li class="active"><a href="/" tabindex="1">Scan file(s)</a></li>
            <li><a href="/last" tabindex="2">Last reports</a></li>
            <li><a href="/search" tabindex="3">Search reports</a></li>
            </ul>
        </div>
        <div class="navigation pull-right">
            <ul>
                <li><a href="/about" tabindex="3">About</a></li>
            </ul>            
        </div>
        </div>
    </div>
    <div class="content">
    <div id="background" style="height:310px"></div>
    <table style="width:100%;margin-top:50px">
    <tr>
        <td>
            <p>Upload and scan files with the antivirus solutions listed below</p>
            <form method="POST" enctype="multipart/form-data" action="/upload" class="dropzone" id="my-awesome-dropzone">
                <div class="fallback">
                    <input type="file" name="file_upload" />
                    <br/>
                    <input type="submit" value="Scan!"/>
                </div>
            </form>
            <div class="table table-striped" class="files" id="previews">
                <div id="template" class="file-row">
                    <!-- This is used as the file preview template -->
                    <div class="file-cell">
                        <p class="name" data-dz-name></p>
                        <strong class="error" data-dz-errormessage></strong>
                    </div>
                    <div class="file-cell">
                        <p class="size" data-dz-size></p>
                    </div>
                    <div class="file-cell">
                        <p class="status">queued</p>
                    </div>
                    <div>
                        <a class="cancel" data-dz-remove title="remove">&#x2715;</a>
                    </div>
                </div>
            </div>
            <div id="scansettings" style="display:none">
                <div class="toggle_checkbox" title="If checked, MultiAV will use plugins with internet access in the scan.">
                    <input type="checkbox" name="allowLeak"><span> Allow data leak to vendors</span>
                </div>
                <div>
                    <span>Min scanner speed</span>
                    <select name="minspeed">
                        $for speed in AV_SPEED:
                            $if speed.name == "ALL":
                                <option value="$speed.value" selected>$speed.name.lower().capitalize()</option>
                            $else:
                                <option value="$speed.value">$speed.name.lower().capitalize()</option>
                    </select>
                </div>
            </div>
            <button id="act-on-upload" class="button" style="display:none">Scan!</button>
            </td>
        </tr>
    </table>

    <p>MultiAV Plugin(s) Overview:</p>
    <table id="data" class="data-table">
        <tr>
            <th>Name</th>
            <th>Plugin type</th>
            <th>Speed</th>
            <th>Engine version</th>
            <th>Signature version</th>
            <th>Internet access</th>
        </tr>
    $if len(scanners) != 0:
        $for scanner in sorted(scanners, key=lambda x: x["name"]):
            <tr>
                <td>$scanner['name']</td>
                <td>
                    $plugin_type_to_string(scanner["plugin_type"]).capitalize()
                </td>
                <td>$scanner['speed'].lower().capitalize()</td>
                <td>$scanner['engine_version']</td>
                <td>$scanner['signature_version']</td>
                <td>
                $if scanner["has_internet"] == 1:
                    <span style="color:red">&#x25cf; enabled</span>
                $else:
                    <span style="color:green">&#x25cf; disabled</span>
                </td>
            </tr>
    $else:
        <tr>
            <td colspan="6"><center>No data. Please to a scan or perform an update!</center></td>
        </tr>
    </table>
    <form method="POST" action="/update" onsubmit="return confirm('Do you really want to update the scanners?')">
    <input type="submit" id="update-button" class="button" value="Update plugins"/>
    </form>
  </table>
</div>
<script>
    reportIds = new Array();

    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);


    Dropzone.options.myAwesomeDropzone = { 
        url: "/api/upload",
        maxFilesize: null,
        paramName: "file_upload",
        autoProcessQueue: false,
        parallelUploads: $cpu_count,
        autoQueue: false,
        previewTemplate: previewTemplate,
        timeout: 10 * 60 * 1000,
        dictDefaultMessage: "... drop the files here to analyze ...",
        init: function() {
            var submitButton = document.querySelector("#act-on-upload");
            myDropzone = this;
            submitButton.addEventListener("click", function() {
                addedFiles = myDropzone.getFilesWithStatus(Dropzone.ADDED)

                if(addedFiles.length == 0)
                    return;

                for(file in addedFiles){
                    myDropzone.enqueueFile(addedFiles[file]);
                }
                myDropzone.processQueue();
                submitButton.innerHTML = "Processing queue...";
                submitButton.disabled = true;
            });
            submitButton.style.display = 'block';
            document.getElementById("scansettings").style.display = 'block';
        },
        drop: function(file){
            var submitButton = document.querySelector("#act-on-upload");
            if(submitButton.disabled) {
                submitButton.disabled = false;
                submitButton.innerHTML = "Scan!";
            }
        },
        thumbnail: function(file){
            file.previewElement.querySelector(".cancel").onclick = function() {
                myDropzone.removeFile(file);
            };
        },
        uploadprogress: function (file, progress) {
            if(progress == 100) {
                file.previewElement.querySelector(".status").innerHTML = "scanning...";
            } else {
                file.previewElement.querySelector(".status").innerHTML = "uploading (" + Math.round(progress) + "%)";
            }
        },
        success: function(file, response) {
            response_object = JSON.parse(response);
            reportIds.push(response_object["id"]);
            file.previewElement.querySelector(".status").innerHTML = "scan completed";
        },
        errror: function(file, response) {
            file.previewElement.querySelector(".status").innerHTML = "scan failed";
        },
        complete: function() {
            myDropzone = this;
            if(myDropzone.getFilesWithStatus(Dropzone.QUEUED).length != 0){
                myDropzone.processQueue(); 
            }
            else if(myDropzone.getFilesWithStatus(Dropzone.ADDED).length == 0 && myDropzone.getFilesWithStatus(Dropzone.UPLOADING).length == 0 ){
                window.location.href = "/search?id=" + reportIds.join(",");
            }
        },
        sending: function(file, xhr, formdata) {
            let field = document.querySelector("#scansettings select");
            formdata.append("minspeed", field.value);
            field = document.querySelector("#scansettings input");
            formdata.append("allow_internet", field.checked? "true": "false");
        }
    };

    document.querySelector(".toggle_checkbox").onclick = function(e){
        if(e.target.localName != "input") {
            let c = document.querySelector(".toggle_checkbox input[type=checkbox]");
            c.checked = !c.checked;
        }
    };
    
</script>
</body>
</html>
