$def with (update_results)
<html>
<head>
<link href="/static/multiav.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
      <div class="header-container">
      <div class="branding">
          <span>MultiAV</span>      
      </div>
      <div class="navigation"> 
          <ul>
          <li class="active"><a href="/" tabindex="1">Scan file(s)</a></li>
          <li><a href="/last" tabindex="2">Last reports</a></li>
          <li><a href="/search" tabindex="3">Search reports</a></li>
          </ul>
      </div>
      <div class="navigation pull-right">
          <ul>
              <li><a href="/about" tabindex="3">About</a></li>
          </ul>            
      </div>
      </div>
  </div>
  <div class="content">
  <div id="background" style="height:70px"></div>
    <h4 style="margin-top:40px">Plugin update results<small style="font-weight: normal;padding-left: 30px;">last refresh: $update_results["last_refresh"]</small></h4>
    <div>
      <dl style="padding-left: 0px; font-size:80%">
        <dt>State:</dt>
        $if update_results["end_date"] == None:
          <dd><span style="color:orange">updating...</span></dd>
        $else:
          <dd><span style="color:green">update complete</span></dd>

        <dt>Start:</dt>
        <dd>$update_results["start_date"]</dd>
        <dt>End:</dt>
        $ end_date = update_results["end_date"] if update_results["end_date"] != None else "-"
        <dd>$end_date</dd>
        <dt>Duration:</dt>
        $if update_results["end_date"] == None:
          <dd>-</dd>
        $else:
          $ duration = update_results["end_date"]-update_results["start_date"]
          <dd>$duration</dd>
      </ul>
      
      
    </div>
    <table border="0" class="data-table">
      $ add_autorefresh = False
      $if len(update_results['results'].keys()) != 0:
        <tr>
          <th>Name</th>
          <th>Old container</th>
          <th>Old signature</th>
          <th>New container</th>
          <th>New signature</th>
          <th>Update state</th>
        </tr>
        $for scanner_name, values in sorted(update_results['results'].items()):
          <tr>
            <td>$scanner_name</td>
            <td>$values['old_container_build_time']</td>
            <td>$values['old_signature_version']</td>
            <td>$values['container_build_time']</td>
            <td>$values['signature_version']</td>
            <td>
              $if values['status'] == "success":
                <span style="color:green">&#x25cf; success</span>
              $elif values['status'] == "error":
                <span style="color:darkred">&#x25cf; error</span>
              $else:
                <span style="color:orange">&#x25cf; $values['status']</span>
                $ add_autorefresh = True
            </td>
          </tr>
      $else:
        <tr>
          <td>-</td>
        </tr>
    </table>
  </div>
  $if add_autorefresh:
    <script>
      setTimeout(function () {
        window.location.href = window.location.href;
      }, 5000);
    </script>
</body>
</html>
